/* This file is for your main application css. */

@import "bootstrap";

.side { padding: 4ex; text-align: center; }
h1 { text-align: center; 
      color: red}
.col-md { background-color: palegoldenrod ;
	  border-style: solid;
	  padding: 5px 5px; }
