<h1>Owner Details</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @owner.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @owner.name %>
  </li>

</ul>

<span><%= link "Edit", to: owner_path(@conn, :edit, @owner), class: "btn btn-primary" %></span>
<span><%= link "Go to Tasks", to: task_path(@conn, :index), class: "btn btn-primary" %></span>
